*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/* khi dung float vao thanh phan con thi the cha k ôm hêt được thành phần
con khi xu ly co thẻ dùng overfloat  hidden hoăc */
.clear {
    clear: both;
}
/* common*/
.text-white {
    color: white !important;
}
.row {
   margin-left: -8px;
   margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third {
    width:33.33333%;
}
.col-half{
    width: 50%;
}
.col-full {
    width: 100%;
}
/* vi nó là class chung nên k nên ghi css đè lên class bên trong
tao 1 thẻ div ghi đè  xong padding cho  thẻ div đó  */
.text-center {
    text-align: center !important;
}
.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
#main {

}

#header {
    height: 46px;
    background-color: #333;
    /* khi position == fixed no noi len o vi tri cao hon 
    nhuong lai vi tri khac cho thang khac */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
#nav {
    display: inline-block;
}
#nav , .subnav {
    list-style: none;
}
#nav li {
    position: relative;
}
#nav >li{
    /* chuyen tu lieu mac dinh items > inline-block */
    display: inline-block;
}

#nav li a {
    line-height: 46px;
    text-decoration: none;
    display: inline-block;
    padding: 0 24px;
    color: #fff;
}
#nav .subnav li:hover a,
#nav >li:hover > a {
    background-color: #ccc;
    color: #333;
    cursor: pointer;
}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav {
    display: none;
    position: absolute;
    top:100%;
    left: 0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);;
    
    
}
#nav .subnav a {
    display: block;
    color: #333;
    padding: 0 12px;
    line-height: 38px;

}
#nav .nav-arrow-down{
    font-size: 14px;
}
#header .search-btn{
    /* div co thuoc tinh block nhg van chi dinh dc dua vao float de di 
    chuyen len 1 hang */
    float: right;
    /* display: inline-block; */
    padding: 0 21px;


}
#header .search-btn:hover{
    background-color: red;
    cursor: pointer;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    /* chi dinh chieu cao de can giua  */
    line-height: 46px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/image/slider.jpg') top center / cover no-repeat;
    position: relative;
    transform: rotateY('angle');
}
#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    /* chinh can giua banng position */
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;

}
#slider .text-heading {
    font-size: 24px;
    /* xet do day cua font dao dong tu 100-900 */
    font-weight: 500;
    
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}


#content {
   
}
#content .content-section {
    padding: 64px 0 64px 0 ;
    width: 800px;
    margin: 0 auto;
    /* text-align: center; */
}
#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center; 
    /* day cac chu xa nhau ra  */
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-style: italic;
    margin-top:25px;
    font-size: 15px;
    /*có 2 cách lam chu mờ đi là đổi màu chư hoặc dung opacity */
    opacity: 0.6;
}
#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    /* can deu hai ben cua text */
    text-align: justify;
    line-height: 1.6;
}
#content .member-list {
    margin-top: 48px;

}
/* #content .member-item{
    float: left;
    width: calc(100%/3);
    /* width: 33,33333; */
    /* text-align: center; */
/* } */ 
#content .member-name {
    font-size: 15px;

}
#content .member-img {
    margin-top: 15px;
    width: 154px;
    /* k can dat chieu con lai vi no tu dong ti le voi kich thuoc */
    /* height: 154px; */
    border-radius: 4px;
}
/* tour section */
.tour-section {
    background-color: #000;

}
.ticket-list {
    background-color: #fff;
    margin-top: 40px;
}
.ticket-list li {
    text-align: left;
    font-size: 15px;
    /* khi dat height no se k dc can giua  */
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    opacity: 0.7;
}
.ticket-list .sold-out {
    margin-left: 10px;
    background: red;
    padding: 2px 4px;
    font-size: 15px;
    color: #fff;
}

.ticket-list .quantity{
    float: right;
    background: #d70707;
    color: #fff;
    padding: 3px 8px;
    border-radius: 50%;
    /* no bi lech so voi the li nen chinh margrin top  */
    margin-top: -2px;
}
/*place luu dien */
.place-list {
    /* dung ki thuat margin âm để điêù chinh lê 2 bên items 
    vi nó có padding ;0 8px nên phải -8px*/
    /* margin: 32px -8px 0 -8px; */
    margin-top: 32px;
    margin-bottom: 48px;
}


.place-list .place-img {
    /* ảnh to hơn so với thẻ div nên  dể nó vừa thẻ thì dung with 100% */
    width: 100%;
    height: 171px;
    /* loai bo thuoc tinh inline block -> block 
    de cả giữa inline và block k có khoảng cáchcách*/
    display: block;
}
/* tao hieu ung lop phu chay */
.img-cover {
    position:absolute;
    top: -171px;
    left: -248px;
    width: 97%;
    height: 171px;
    background:rgb(255, 145, 0);
    opacity: 0;
    transition:  all cubic-bezier(0.4, 0, 1, 1) 0.9s;
}
.place-img:hover+ .img-cover {
    opacity: 0.5;
    top:0;
    left: 0;
}
.place-img:hover{
    opacity: 0.6;
    top:0;
}
.place-list .place-body {
    background-color: #fff;
    font-size: 15px;
    padding: 16px;

}

.place-list .place-heading {
    font-size: 15px;
    font-weight: 500px;
}

.place-list .place-time {
    margin-top: 10px;
}

.place-list .place-desc {
    margin: 10px 0;
}

.place-list .place-btn {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    /* nut là inline mà phia trên thẻ p  là block nên k chỉnh đc margin
    top vi vay chuyen nó thành inline-block */
    display: inline-block;
    margin-top: 15px;
}
.place-btn:hover {
    background-color: #ccc;
    cursor: pointer;
}
/*  contact */
.contact-content {
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.6;
}
/* class '*=' co nghia la tim class co chu ti- */
.contact-info i[class*="ti-"] {
    width:30px;
    display: inline-block;
    
}
.contact-form {
    font-size: 15px;

}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .form-submit {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    float: right;
    padding: 10px 16px;
}

#footer {

}

/* buy ticket modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.4);
    align-items: center;
    justify-content: center;
    display:none;
}
.modal.open{
    display: flex;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% -32px);
    min-height: 200px;
    position: relative;
    animation:  modalFadeIn ease 0.5s;
}
.modal-close {
    position:absolute;
    right: 10px;
    top:10px;
    /* background: red; */
    padding: 12px 20px;
    margin-top: -10px;
    margin-right: -11px;
}
.modal-close:hover {
    background-color: red;
    cursor: pointer;
}
.modal-header {
    background-color: rgb(94, 186, 58);
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.heding-icon {
    margin-right: 16px;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-top: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    display: block;
    width:100% ;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-ticket {
    background-color: rgb(94, 186, 58);
    display: block;
    width:100% ;
    text-transform: uppercase;
    border: none;
    padding: 18px;

}
#buy-ticket:hover {  
    cursor: pointer;
    opacity: 0.7;
}
.modal-footer {
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: rgb(29, 200, 200);
}

@keyframes modalFadeIn {
    from{
        opacity: 0.5;
        transform:translateY(-130px);
    }
    to{
        transform: translateY( 0);

    }
}
    


