*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/* khi dung float vao thanh phan con thi the cha k ôm hêt được thành phần
con khi xu ly co thẻ dùng overfloat  hidden hoăc */
.clear {
    clear: both;
}
#main {

}

#header {
    height: 46px;
    background-color: #333;
    /* khi position == fixed no noi len o vi tri cao hon 
    nhuong lai vi tri khac cho thang khac */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
#nav {
    display: inline-block;
}
#nav , .subnav {
    list-style: none;
}
#nav li {
    position: relative;
}
#nav >li{
    /* chuyen tu lieu mac dinh items > inline-block */
    display: inline-block;
}

#nav li a {
    line-height: 46px;
    text-decoration: none;
    display: inline-block;
    padding: 0 24px;
    color: #fff;
}
#nav .subnav li:hover a,
#nav >li:hover > a {
    background-color: #ccc;
    color: #333;
    cursor: pointer;
}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav {
    display: none;
    position: absolute;
    top:100%;
    left: 0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);;
    
    
}
#nav .subnav a {
    display: block;
    color: #333;
    padding: 0 12px;
    line-height: 38px;

}
#nav .nav-arrow-down{
    font-size: 14px;
}
#header .search-btn{
    /* div co thuoc tinh block nhg van chi dinh dc dua vao float de di 
    chuyen len 1 hang */
    float: right;
    /* display: inline-block; */
    padding: 0 21px;


}
#header .search-btn:hover{
    background-color: red;
    cursor: pointer;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    /* chi dinh chieu cao de can giua  */
    line-height: 46px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/image/slider.jpg') top center / cover no-repeat;
    position: relative;
   
}
#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    /* chinh can giua banng position */
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;

}
#slider .text-heading {
    font-size: 24px;
    /* xet do day cua font dao dong tu 100-900 */
    font-weight: 500;
    
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}


#content {
   
}
#content .content-section {
    padding: 64px 0 64px 0 ;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center; 
    /* day cac chu xa nhau ra  */
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-style: italic;
    margin-top:25px;
    font-size: 15px;
    /*có 2 cách lam chu mờ đi là đổi màu chư hoặc dung opacity */
    opacity: 0.6;
}
#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    /* can deu hai ben cua text */
    text-align: justify;
    line-height: 1.6;
}
#content .member-list {
    margin-top: 48px;

}
#content .member-item{
    float: left;
    width: calc(100%/3);
    /* width: 33,33333; */
}
#content .member-name {
    font-size: 15px;
    text-align: center;

}
#content .member-img {
    margin-top: 15px;
    width: 154px;
    /* k can dat chieu con lai vi no tu dong ti le voi kich thuoc */
    /* height: 154px; */
    border-radius: 4px;
}

#footer {

}
